$mobile-breakpoint: 480px;
$tablet-breakpoint: 960px;

$light-text-color: white;
$dark-text-color: black;

$border-color: #dfdfdf;

$default-background-color: white;
$darkened-background-color: rgba(201, 201, 201, 0.8);

$header-height: 70px;
