*  {
  background-origin: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

$mobile-breakpoint: 480px;
$tablet-breakpoint: 960px;

$light-text-color: white;
$dark-text-color: black;
